@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600&display=swap');

*{
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;     
     margin: 0;
     padding: 0;
}

label{
     font-size: .9rem;
}

body{
     background-color: #f6eded;
     min-height: 100vh !important;
     min-width: 100vw !important;
}

.center{
     align-items: center;
     display: flex;
     justify-content: center;
}

.centerRow{
     align-items: center;
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
}

.centerColumn{
     align-items: center;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
}

.newGeneral{
     min-width: 100vw;
     min-height: 100vh;
     z-index: 10;
}

.backGroundImage img{
     min-width: 20%;
     max-width: 100%;
}

.backGroundTitle h1{
     color: #57aa86;
}

.buttons button{
     background-color: #57aa86;
     border-radius: 10px !important;
     cursor: pointer;
     font-size: 1.25rem !important;
     min-height: 80px !important;
     min-width: 250px !important;
}

#btnClose i{
    color: lightgrey;
    cursor: pointer;
    margin-left: 97%;
}

.vehicular{
     background-color: #7ac7ac;
     border-radius: 10px !important;
     display: block;
}

.debtSearch, .debtQuit{
     background-color: #7ac7ac !important;
     border-radius: 8px !important;
}

.debtSearch img{
     display: block;
     padding-top: 15px;
     margin: auto;
}

.debtStatus span{
     font-family: Arial, Helvetica, sans-serif;
     font-size: 3rem;
}

.confirmExpense, .confirmSearch{
     background-color: #7ac7ac;
     border-radius: 10px !important;
     box-shadow: 3px 6px 9px rgb(167, 163, 163);
}

.confirmExpenseSuccess{
     background-color: whitesmoke !important;
     border-radius: 10px !important;
}

.confirmExpense button, .confirmSearch button{
     min-width: 150px;
}

.status{
     background-color: #7ac7ac;
     border-radius: 10px;
     min-width: 40vw;
     min-height: 40vh;
}






/*MEDIA QUERIES*/
@media screen and (min-width: 16rem) and (max-width: 45rem) {

.newGeneral{
     display: flex;
     align-items: center;
     justify-items: center;
}

.backGroundTitle h1{
     font-size: 1.25rem;
}

}




