@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
}

body{
     background-image: url('/img/background.jpg');
     background-size: cover;
}

.centerRow{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
}

.centerColumn{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap;
}

.cover{
     backdrop-filter: blur(5px) !important;
     height: 50vh;
     left: 50%;
     min-width: 30vw;
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
}

.cover i{
     font-size: 2rem;
}

h1{
     font-size: 1.5rem !important;
}

.dataInput{
     backdrop-filter: blur(5px) !important;
     left: 50%;
     min-height: 80vh !important;
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
     z-index: 5;
}




@media screen and (min-width: 18rem) {
     h1{
          font-size: 1rem;
     }
}

@media screen and (max-width: 36rem) {
     h1{
          font-size: 2rem;
     }
}