@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
}

.centerRow{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: nowrap;
}

.centerColumn{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     flex-wrap: wrap;
}

.cover img{
     max-width: 100% !important;
     border-radius: 10px !important;
}

h1{
     font-size: 2rem !important;
}

.dataInput{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     z-index: 5;
}




@media screen and (min-width: 18rem) {
     h1{
          font-size: 1.1rem;
     }
}

@media screen and (max-width: 36rem) {
     h1{
          font-size: 2rem;
     }
}